<h2><%= @game.display_score %></h2>

<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<div class="grid" id="board-<%= @board_size %>">
  <% @game.board.each_square do |number, square| %>
    <div class="square">
      <% if square.unmarked? %>
        <form class="square" action="/play" method="post">
          <button class="square" type="hidden" name="key" value="<%= number %>"></button>
        </form>
      <% else %>
        <%= square.marker %>
      <% end %>
    </div>
    <% if number % @board_size == 0 %>
      <%= row_of_dividers %>
    <% else %>
      <div class="divider"></div>
    <% end %>
  <% end %>
</div>
